body {
  background-color: black;
  color:white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}
.modal{
  position: absolute;
  width: 30%;
  height: 10%;
  background-color:white;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  left: 33%;
  
  
}

.btn{
  width: 30%;
  height: 30%;
  font-size: 20px;
  cursor: pointer;
  
}

h4{
  color: aquamarine;
  font-size: 30PX;

}

/* 
.backgroundGhost{
  background-color: azure;
} */